<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Adding a new location</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Create Parcel</h1>

            <form action="/newParcel">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Choose the customer</label>
                    <select class="form-control" id="customer" name="customer" required>
                        <% customers.forEach(customer => { %>
                            <option value="<%= customer.custId %>"><%= customer.custName %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect2">Choose the final location</label>
                    <select class="form-control" id="finalLocation" name="finalLocation" required>
                        <% locations.forEach(location => { %>
                            <option value="<%= location.locId %>"><%= location.locAddress %>, <%= location.city %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="weight">Enter the parcel weight</label>
                    <input type="text" name="weight" class="form-control" placeholder="weight" required>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>

            </form>

            <p>
                <a href="/"> Go Back to the Menu </a>
            </p>
        </div>
    </body>
</html>