<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose customer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="container">

            <form action="/displayParcels">
                <div class="form-group">
                    <label for="customer">Choose the customer</label>
                    <select class="form-control" id="customer" name="customer" required>
                        <% customers.forEach( (customer) => { %>
                            <option  value="<%= customer.custId %>"><%= customer.custName %> </option>
                        <% }) %>
                    </select>

                    <button  style="float: right" type="submit" class="btn btn-primary ml-2 mb-2 mt-3">View parcels</button>
                </div>
            </form>

            <p>
                <a href="/"> Go Back to the Menu </a>
            </p>
        </div>



</body>
</html>